/*MAIN CONTENT*/

.main-content{
    margin-top: 60px;
    padding-bottom: 5%;
}
#mainContainer {
background: #f7f8f9;
}

/*BANNER IMAGEN*/

.imageBanner h3 a {
    color: white;
}
/*CAROUSEL PRODUCTOS*/

.carousel-container {
    background: url(../assets/home/fondo-carousel.webp) no-repeat center center;
    padding: 150px 100px 200px;
    background-size: cover;

}
.carousel-container .carousel-caption, .carousel-container .carousel-control-next {
    color: white;

}

/*IMAGE BANNER NVIDIA*/

.imageBanner{
    background: url(../assets/home/nvidaBanner.jpg) no-repeat center center;
    color: white;
    padding: 150px 100px 200px;
    background-size: cover;

}

#scrollToTopBtn {
    position: fixed;
    z-index: 100;
    right: 3%;
    bottom: 2%;
    background: rgba(41,115,178,1);
    border: 2px solid black;
    border-radius: 50%;
    font-size: 35px;
    align-items: center;
    display: flex;
    justify-content: center;
}

/*ESTILOS NAV*/
.navbar-home {
    background: rgb(41,115,178);
    background: linear-gradient(90deg, rgba(41,115,178,1) 20%, rgba(72,166,167,1) 50%, rgba(154,203,208,1) 80%);
    color: white;
}

.navbar-home #navbarNav a{
    font-size: 20px;
    color: white;
}

.navbar-home #navbarNav .resaltar{
    padding-bottom: 2px;
    border-bottom: 4px solid black;
}



/*PRODUCTOS STOCK*/

.productos-stock img{
    transition: transform .2s;
}
.productos-stock img:hover{
    transform: scale(1.05);
}

/*PRODUCTOS GALERIA*/


.producto-container{
    background: #f7f8f9 none repeat scroll 0 0;
}

#productosContainer .card {
    border: 0px;
}

.producto-container .img-container{
    border: 1px solid #e5e5e5;
}

#galleryContainer a.image-product-gallery {
    color: transparent;
}

/*PRESUPUESTO FORMULARIO*/

.form-presupuesto {
    
    margin: 3% auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


/*FOOTER*/

footer h3 {
    color: #2973b2;
}

footer h4 {
    color: #9acbd0
}

footer .flogo-container img {
    width: 30%;
}
